.title {
  display: flex;
  justify-content: space-evenly;
  color: #0c1c49;
  margin-top: 3rem;
}

.title h1 {
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Helvetica";
  font-size: 1.5rem;
  padding: 5px;
}

.title input {
  padding: 0.5rem 1rem;
  color: #fff;
  background-color: #2b3566;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.9em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0.8;
}

.title input:hover {
  transition: 0.3s;
  opacity: 1;
}
