.navbar {
  height: 60px;
  width: 100%;
  max-width: 100rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0e1129;
  color: #fff;
}

#logo {
  margin-left: 5rem;
  cursor: pointer;
}

.links {
  display: flex;
  gap: 1.5rem;
  font-weight: bold;
  margin-right: 5rem;
}

.links a:hover {
  transition: 0.5s;
  color: #2b3566;
}

.links a {
  text-decoration: none;
  color: #fff;
}
