table {
  height: 21rem;
  background-color: #0e1129;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 70rem;
  margin: 0 auto;
}

tr {
  display: flex;
  justify-content: space-between;
}

th {
  text-transform: uppercase;
  margin-bottom: 1rem;
}

th,
td {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12rem;
  font-weight: bold;
}

.btn {
  gap: 0.5rem;
}

td button {
  font-weight: bold;
  background-color: #0e1129;
  color: #fff;
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  border: #fff solid 1px;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0.8;
}

td button:hover {
  opacity: 1;
}

.transaction-control:hover {
  transition: 0.5s;
  background-color: #2b3566;
  border-radius: 5px;
}

.income {
  color: #008000;
}

.expense {
  color: #b22222;
}
